/** Please add your Custom CSS here **/
.main-span-font {
    color: #FF5800;
    font-weight: bold;
}

.risale-text {
    color: black;
    font-family: 'Times New Roman';
    font-size: 19px;
}

.main-image {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

.my-image {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

.my-p {
    color: black;
    font-family: 'Times New Roman';
    font-size: 19px;
    text-align: justify;
}

.my-center-text {
    text-align: center;
    color: red;
}